.h1-header {
	font-size: 3rem;
	font-style: normal;
	font-weight: 900;
	line-height: 70px;
	letter-spacing: 0em;
}
.p18 {
	//styleName: p2 - 18px regular;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0em;
}

.p18-blod {
	//styleName: p1 - 18px semibold;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 0em;
}

.p16 {
	//styleName: p2 - 16px regular;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
}

.secondary-color {
	color: #8b8b8b;
}

.green-color {
	color: #01b16b;
}
