@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
// Override default variables before the import
// $body-bg: #000;

#home-section-first {
	background-image: linear-gradient(
		337.16deg,
		rgba(1, 177, 107, 0.5) 17.57%,
		#01b16b 91.66%
	);
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 50%, 100% 0);
	clip-path: polygon(0 0, 0 100%, 100% 50%, 100% 0);
	@media (max-width: 600px) {
		-webkit-clip-path: polygon(0 0, 0 100%, 100% 88%, 100% 0) !important;
		clip-path: polygon(0 0, 0 100%, 100% 88%, 100% 0) !important;
	}

	width: 100%;
	height: 74vh;
	left: 0px;
	background-repeat: no-repeat;
	background-size: cover;

	.header-link {
		color: #ffffff !important;
	}
	.navbar-light .navbar-toggler {
		color: #ffffff !important;
		border-color: #ffffff !important;
	}
}

.step-create {
	width: 100%;
	padding: 10px;

	background: linear-gradient(
		270.03deg,
		#f1f6ff 0.02%,
		rgba(241, 246, 255, 0.55) 56.77%,
		rgba(241, 246, 255, 0) 99.97%
	);
	border-radius: 35px;
}

.img-section-first-1 {
	position: absolute;
	top: -113px;
	z-index: 1;
	/* right: 10px; */
	left: 0px;
}

#home-section-third {
	background-image: url(/images/div-1.svg);
	background-repeat: no-repeat !important;
	background-position-x: 100%;
	background-position-y: -13vh;
	height: 33vh;
	padding-top: 24vh;
}

#home-section-fourth {
	@media (min-width: 959px) {
		background-image: url("/images/interface-1.svg");
		background-repeat: no-repeat !important;
		background-position-x: 64vw;
		background-position-y: 6vh;
		background-size: contain;
	}
}
.interface-image {
	@media (max-width: 959px) {
		background-image: url("/images/interface-1.svg");
		background-repeat: no-repeat !important;
		background-size: contain;
		min-height: 500px;
		min-width: 100%;
	}
}

.z-index-2 {
	z-index: 2;
}

#home-section-fifth {
	background-image: url(/images/div-1.svg);
	background-position: 100% -6vh;
	background-repeat: no-repeat !important;
	background-size: 20% 83%;
	background-color: #393655;

	.fifth-top {
		@media (min-width: 765px) {
			padding-top: 10rem;
		}
	}

	.p-top {
		padding-top: 8.5rem;
	}

	.non-active-p {
		@media (min-width: 765px) {
			display: none;
		}
	}

	.non-active-p2 {
		@media (max-width: 765px) {
			display: none;
		}
	}
}

.item-advantages {
	width: 215px;
	height: 130px;

	background: #f1f6ff;
	border-radius: 18px;
	margin: 10px;
}

#home-section-sixth {
	background: linear-gradient(
		360deg,
		#f1f6ff 15.38%,
		rgba(241, 246, 255, 0.9) 41.39%,
		#f1f6ff 60.34%,
		rgba(241, 246, 255, 0.7) 80.17%,
		rgba(241, 246, 255, 0.4) 93.39%,
		rgba(241, 246, 255, 0) 100%
	);
}

#section-number {
	background-image: url(/images/Group-563.svg), url(/images/Group562.svg);
	background-position: 100% -10vh, 0% -6vh;
	background-repeat: no-repeat !important;
	background-size: 14% 100%, 10% 93%;
	min-height: 400px;
}

#valued-section {
	background: #393655;
	min-height: 350px;
}

.our-cuomers {
	min-height: 385px;
	background: #ffffff;
	border-radius: 46px;
	@media (min-width: 765px) {
		margin-top: -200px;
	}
	@media (max-width: 764px) {
		margin-top: -100px;
	}
}

.start-div {
	background-image: url(/images/Group5.svg), url(/images/Group4.svg),
		linear-gradient(0deg, #f1f6ff, #f1f6ff);
	background-position: 99% -14vh, 5% 0vh, 0% 0vh;
	background-repeat: no-repeat !important;
	background-size: 161% 184%, 180% 71%, 100% 100%;
	border-radius: 35px;
	min-height: 250px;
	@media (max-width: 764px) {
		padding-bottom: 20px;
	}
}

.start-btn {
	background-color: #11b87b !important;
	color: #ffffff !important;
	@media (min-width: 765px) {
		margin-top: 8rem;
	}
	@media (max-width: 764px) {
		margin-top: 2rem;
	}
	&:hover {
		background-color: #11b87b85 !important;
	}
}

.div-p {
	@media (min-width: 765px) {
		margin-top: 8rem;
	}
	@media (max-width: 764px) {
		margin-top: 4rem;
	}
}
