.icon-add-product {
	background-image: url("/icons/icon-add-product.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}
.icon-create {
	background-image: url("/icons/icon-create.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}
.icon-launch {
	background-image: url("/icons/icon-launch.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}

.icon-nion {
	background-image: url("/icons/icon-nion.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}

.icon-online {
	background-image: url("/icons/icon-online.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}

.icon-card {
	background-image: url("/icons/icon-card.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}

.icon-bill {
	background-image: url("/icons/icon-bill.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}

.icon-stores {
	background-image: url("/icons/icon-stores.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}

.icon-dollar {
	background-image: url("/icons/icon-dollar.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}
.icon-updates {
	background-image: url("/icons/icon-updates.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}
.icon-time {
	background-image: url("/icons/icon-time.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}

.icon-integration {
	background-image: url("/icons/icon-integration.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}
.icon-security {
	background-image: url("/icons/icon-security.svg");
	height: 30px !important;
	width: 30px !important;
	background-repeat: no-repeat !important;
}
